.about-me-container {
    margin: 20px;
    width: 500px;
    text-align: left;
    border: 5px solid #000000;
}

.display-name {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
}

.default-pic img {
    width: 200px;
    margin-left: 20px;
}

.asl-info-cell {
    vertical-align: top;
}

.asl-info {
    margin-left: 5px;
    font-size: 16px;
}

.asl-info img {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mood {
    margin: 20px;
    font-size: 16px;
}