head {
  cursor: url(https://en.cursor.style/cursors/1832-louise-belcher-cursor.svg), default !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(https://en.cursor.style/cursors/1832-louise-belcher-cursor.svg), default !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  cursor: url(https://en.cursor.style/cursors/1832-louise-belcher-cursor.svg), default !important;
}